---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
import ImageBorder from '../components/ImageBorder.astro'
import { Media } from 'accessible-astro-components'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <div class="grid grid-cols-1 gap-24 md:grid-cols-2">
        <div class="space-content flex flex-col justify-center">
          <h2>About Me</h2>
          <p class="text-xl">
            My name is <b>zTzyrant a.k.a Katachi</b> and I am a website developer. 
            I'm a college student. I don't study harder, but I study with fun. 
            If there's a course that I'm not interested in, it's really annoying when I'm forced to study for that course. 
            <b>What can I do?</b> I can actually do a lot of programming stuff, but sometimes I feel busy and not excited to do it. but I can do some things like make a website, build bots, and do penetration tests.
            <b>This Website?</b> Ah, this website was made for my portfolio.
            This website is based on <b>Astro 2.0.3</b> with <a href="https://github.com/markteekman/accessible-astro-components" target="_blank">Accessible Astro settings</a>. 
            <b>In the future</b>, this website will have many features that I will add for my learning needs. 
          </p>
        </div>
        
        <ImageBorder><Media class="rounded-lg border-4 border-purple-700 text-center max-h-96 aspect-square" src="/muhammadzeinakbar.png"/></ImageBorder> 
        
      </div>
    </div>
  </section>
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Knowledge</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:angular" title="Angular 15">
          I am very in love with the Angular Web Framework, especially Angular version 15. My experience with Angular 15 is <b>84%</b>.
        </Feature>
        <Feature icon="mdi:nodejs" title="NodeJS & ExpressJS">
          NodeJS is my partner in building the REST API for my website project. I have good experience with it, but my code is still a mess. My experience with NodeJS and ExpressJS is <b>76%</b>.
        </Feature>
        <Feature icon="mdi:language-python" title="Python">
          Python is a very powerful language for developing software. I've created bots for Discord and many projects with Python. My experience with Python is <b>80%</b>.
        </Feature>
        <Feature icon="mdi:language-php" title="PHP">
          PHP is my first language for managing the backend of a web server. It's pretty easy to learn, but the syntax in PHP is a little bit confusing. My experience with PHP is <b>78%</b>.
        </Feature>
        <Feature icon="mdi:language-ruby-on-rails" title="Ruby On Rails">
          I am still learning Rails, but for now I don't have more time for it. I am pretty confused while reading the Rails documentation, but it's worth learning. My experience with Ruby on Rails is <b>52%</b>.
        </Feature>
        <Feature icon="bx:bxl-django" title="Django">
          I surely just installed Django and don't have time to learn it because my time has been wasted on college assignments and other stuff. My experience with Django was <b>10%</b>.
        </Feature>
        <Feature icon="cib:mysql" title="MySQL">
          Ahh, MySQL. It's my favorite database. It's easy to learn but has many strict rules. I am okay with that because it pushes me to write SQL correctly. My experience with MySQL was <b>90%</b>.
        </Feature>
        <Feature icon="mdi:aws" title="AWS EC2">
          AWS It's my favorite for deploying backend servers. I usually use AWS EC2 for servers and AWS RDB for databases on the free tier.
        </Feature>
        <Feature icon="mdi:firebase" title="Firebase">
          Firebase also has good features like real-time databases and many more. but I always use it for deploying my front-end website.
        </Feature>
      </div>
    </div>
  </section>
  <ContentMedia imgSrc="/accessible-components.webp">
    <h2>Accessible Components</h2>
    <p class="text-2xl">
      This theme provides plenty of tried and tested Accessible Astro Components. Some are native to this theme and a
      lot of others are integrated using a <a href="https://github.com/markteekman/accessible-astro-components"
        >separate package</a
      >. They'll get you up and running in building an accessible solution for your visitors.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>WCAG 2.1 AA Compliant</h2>
    <p class="text-2xl">
      Using semantic HTML, landmarks, skip links, screen reader friendly content, aria-labels, keyboard accessible
      navigation and components, clear outlines and tab indicators and the right color contrast, you're more certain of
      reaching WCAG AA compliance.
    </p>
  </ContentMedia>
  <section class="mt-64 mb-32">
    <div class="container">
      <h2 class="mb-16 text-6xl">Counters</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="130" title="Stars" sub="On GitHub" />
        <Counter count="17" title="Accessible" sub="Components" />
        <Counter count="500" title="Commits" sub="Merged" />
        <Counter count="18+" title="Months" sub="Since launch" />
      </div>
    </div>
  </section>
</DefaultLayout>
